.loaders{
    /* margin-left: 29%; */
    position: absolute;
     margin-left: 44%;
     margin-top: 150px;
    /* margin-top: 60%; */
    z-index: 5;
    }

    .example {
        margin: 20px 0;
        margin-bottom: 20px;
        padding: 30px 50px;
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
      }